<ion-header>
  <ion-navbar>
    <ion-title>
      My Beacon List
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="startScanningForBeacons()" [disabled]="scanningInProgress">Start Scan</button>
  <button ion-button (click)="stopScanningForBeacons()" [disabled]="!scanningInProgress">Stop Scan</button>

  <div *ngFor="let beacon of getBeaconList()">
    <b>Beacon Address</b>: {{beacon.address}}<br>
    <b>Timestamp</b>: {{beacon.timestamp}}<br/>
    <b>Distance</b>: {{beacon.distance}}<br/><br/>
    <button ion-button full *ngIf="beacon.voucherBeacon" (click)="showVoucher()">Gutschein anzeigen</button>
    <button ion-button full *ngIf="beacon.paintingBeacon" (click)="showPaintingInfo()">Gemäldeinfos</button>
  </div>



</ion-content>

